<style>.companySimple{
    width: 100%;
    padding-left: 215px;
    padding-top: 75px;
    padding-right: 15px;
}</style><section class="companySimple"><div style="background: #bbb;height: 1000px;color: #fff"><div ng-bind="companySimple.name"></div><div sv-root sv-part="companySimple.modelArray"><div ng-repeat="x in companySimple.modelArray" sv-element><div ng-bind="x" style="height: 30px;width: 300px;background: yellow;margin-bottom: 10px;color: #000"></div></div></div><!--<fa-modifier fa-size="[100, 100]" fa-translate="companySimple.boxTransitionable.get()">--><!--<fa-surface fa-background-color="'red'" fa-click="companySimple.animate()">--><!--</fa-surface>--><!--</fa-modifier>--></div></section>